@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

#root {
  /* header vars  */
  --main-background-color: black;
  --header-background-color: #E5E5E5;
  --header-font-color: black;
  --header-border-color: #003459;
  --header-hover-background-color:#003459 ;
  --header-hover-font-color: #E5E5E5;

  --block-border-color: transparent;
  --block-border-color-hover: lightgray;

  min-width: 150px;
}
*{
  font-family: 'Zen Maru Gothic', sans-serif;
}

html{
  scroll-behavior: smooth
}

.title{
  font-family: 'Titillium Web', sans-serif !important;
  font-style: italic;
}