* {
  box-sizing: border-box;
}

#root {
  /* header vars  */
  --main-background-color: black;
  --header-background-color: #E5E5E5;
  --header-font-color: black;
  --header-border-color: #003459;
  --header-hover-background-color:#003459 ;
  --header-hover-font-color: #E5E5E5;

  --block-border-color: transparent;
  --block-border-color-hover: lightgray;

  min-width: 150px;
}
