@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

#root {
  /* header vars  */
  --main-background-color: black;
  --header-background-color: #E5E5E5;
  --header-font-color: black;
  --header-border-color: #003459;
  --header-hover-background-color:#003459 ;
  --header-hover-font-color: #E5E5E5;

  --block-border-color: transparent;
  --block-border-color-hover: lightgray;

  min-width: 150px;
}
*{
  font-family: 'Zen Maru Gothic', sans-serif;
}

html{
  scroll-behavior: smooth
}

.resizeable-info{
  height:0;
  /* transition: 4s */
}

.full-size-info{
  height: 200px
}

.disabled-link,.disabled-github{
  opacity: 0.5;
  pointer-events:none;
}

.title{
  font-family: 'Titillium Web', sans-serif !important;
  font-style: italic;
}

/*  transitions and animations */

@keyframes bounce {
	0%, 100%, 10%, 25%, 35%, 45% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	20% {
		-webkit-transform: translateY(-6px);
		-ms-transform:     translateY(-6px);
		transform:         translateY(-6px)
	}
	30% {
		-webkit-transform: translateY(-4px);
		-ms-transform:     translateY(-4px);
		transform:         translateY(-4px)
	}40% {
		-webkit-transform: translateY(-2px);
		-ms-transform:     translateY(-2px);
		transform:         translateY(-2px)
	}
}

.resize-enter {
  opacity: 0.01;
  /* height:0; */
}

.resize-enter-active {
  opacity: 1;
  /* height: 500px; */
  transition: all 1000ms ease-in-out;
}

.resize-leave {
  opacity: 1;
  /* height: 500px; */
}

.resize-leave-active {
  /* height: 0; */
  opacity: 0;
  transition: all 1000ms ease-in-out;
}